@font-face {
  font-family: VT323;
  src: url(../Assets/Fonts/VT323/VT323-Regular.ttf);
}
@font-face {
  font-family: Bebas_Neue;
  src: url(../Assets/Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

.home1 {
  background-image: url(../Assets/Images/business.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 80vh;
  width: 100%;
  border-radius: 10px;
  /* background-color: black; */
  /* background-image: linear-gradient(to rigth, red, yellow); */
}
.home1content {
  /* background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.315),rgba(255, 166, 0, 0.315), rgba(255, 255, 0, 0.315)); */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479);
  height: 80vh;
  /* color: #fff; */
}
.introtext {
  text-align: left;
  padding-top: 20vh;
  padding-left: 5%;
  text-transform: uppercase;
  font-size: 56px;
  font-weight: bold;
  bottom: 45%;
  display: block;
  font-family: VT323;
  color: #000;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.5px;
}
.static1 {
  font-size: 4rem;
}
.static2 {
  font-size: 3rem;
}
.flip {
  height: 90px;
  overflow: hidden;
  font-family: Bebas_Neue;
}
.flip > div > div {
  color: #c112e4;
  /* color: #fff; */
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
  /* font-size: 3rem; */
}
.flip div:nth-child(1) div{
  color: #e48212;
}
.flip div:nth-child(2) div{
  color: #12e41d;
}

.flip div:first-child {
  animation: show 7s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
.home1th {
  display: flex;
  justify-content: space-between;
}
.desImg {
  padding-top: 15vh;
  padding-right: 5%;
}
.startbtn {
  margin: 6vh 0;
  background-color: #ffffff00;
  border-color: #00000000;
  font-size: 2rem;
  color: #fff;
  transition: 1s;
  cursor: pointer;
}
.arrowIcon {
  fill: #fff;
  transition: 0.5s;
  visibility: hidden;
}
.startbtn:hover {
  transform: scale(1.2);
}
.startbtn:hover .arrowIcon {
  visibility: visible;
  transform: translateX(180px);
}
/* .desImg{
  background-color: red;
  height: 300px;
} */

/* ==================Home Two Styling ======================== */
/* .forHomeTwo {
  width: 100%;
  position: relative;
}
.cards {
  height: 55vh;
  display: flex;
  flex: auto;
  justify-content: center;
  width: 350%;
  overflow: hidden;
}
.home2span {
  height: 55vh;
  display: inline;
}
.home2span > div {
  height: 50vh;
  width: 40vw;
  background-color: brown;
  margin: 1vh 2vw;
} */
.marquee {
  height: 60vh;
  width: 99%;
  /* border: 2px solid #eee; */
  overflow: hidden;
  /* box-sizing: border-box; */
  position: relative;
  margin: 0 auto;
}

.marquee--inner {
  display: block;
  width: 500%;
  margin: 2rem 0;
  position: absolute;
  animation: DCards 20s linear infinite;
  /* animation-direction: reverse; */
}

.marquee--inner:hover {
  animation-play-state: paused;
}
.home2span > div {
  height: 50vh;
  width: 90vw;
  background-color: brown;
  margin: 1vh 2vw;
  float: left;
  transition: all .2s ease-out;
}
.home2span > div:hover {
  transform: scale(1.1);
  /* opacity: 0.5; */
  cursor: pointer;
}
.home2span {
  float: left;
  width: 50%;
  display: flex;
}
@keyframes DCards {
  0% { left: 0; }
  100% { left: -100%; }
}
