.not-found-page {
  /* Your initial styles for the 404 page */
  /* E.g., center the content and set font styles */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: bold;
}

.shaking {
  animation: shakeAnimation 3s ease-in-out infinite;
  color: #e911d6;
}

.shake {
  color: #8d7878;
}

@keyframes shakeAnimation {
  0%, 100% {
    transform: scale(1) rotate(0);
  }
  1%, 10%{
    transform: scale(1.1);
  }
  /*10%,*/ 30%, 50%, 70%/*, 90% */{
    transform: scale(1.1) rotate(-10deg);
  }
  /*20%,*/ 40%, 60%/*, 80%*/ {
    transform: scale(1.1) rotate(10deg);
  }
  99%, 90% {
    transform: scale(1.1);
  }
}
.four04 {
  display: block;
  color: #e15df0;
}
