@font-face {
  font-family: Dancing_Scripts;
  src: url(../Assets/Fonts/Dancing_Scripts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: Pathway;
  src: url(../Assets/Fonts/Pathway_Gothic/PathwayGothicOne-Regular.ttf);
}
@font-face {
  font-family: Borel;
  src: url(../Assets/Fonts/Borel/Borel-Regular.ttf);
}

.PortBody {
  background-color: #24e4546c;
  padding: 10px 1%;
  /* height: 100%; */
}
.portData {
  width: 100%;
}
.port1sect {
  background-color: #e911d6;
  display: flex;
  width: 90%;
  gap: 5rem;
  margin: 0 auto;
}
.profilePic {
  height: 30rem;
  border-radius: 50%;
}
.portText {
  width: 50%;
}
.portName {
  padding: 1rem 0 0 0;
  font-size: 2rem;
  color: #e911d6;
  -webkit-text-stroke-color: #fed;
  -webkit-text-stroke-width: 1px;
}
.portUser {
  color: #fdfeff;
  font-family: Dancing_Scripts;
  font-size: larger;
}
.portOthers {
  text-align: left;
  color: #fff;
  font-size: 1.6em;
  font-weight: 500;
  font-family: Pathway;
}
/* ================For the projects=================== */
.Projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 1%;
  /* border: 1px dotted gray; */
}
.projContent {
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* border: 1px dotted gray; */
  box-shadow: 2px 2px 5px #a1959a;
  /* box-shadow: -2px -2px 5px #a1959a; */
}
.projImage,
.projVideo {
  height: 18rem;
  cursor: pointer;
}
.projDetails {
  width: 100%;
}
.projDetails > h4 {
  color: #e911d6;
  font-family: Borel;
  font-size: larger;
  font-weight: 900;
}
